<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
        <div class="row">
          <div class="col-lg-8">
            <div class="card card-chart customerinq">
              <div class="card-header">
                <h4 class="card-title ctitle">Sales Order Details</h4><br>
              </div>
              <!-- <table class="table table-striped">
                <thead class="thead">
                <tr>
                  <th class="c0" scope="col" sortable="name" (sort)="onSort($event)">Document No.</th>
                  <th class="c1" scope="col" sortable="name" (sort)="onSort($event)">Item No.</th>
                  <th class="c2" scope="col" sortable="name" (sort)="onSort($event)">Material Description</th>
                  <th class="c3" scope="col" sortable="name" (sort)="onSort($event)">Category</th>
                  <th class="c4" scope="col" sortable="name" (sort)="onSort($event)">Base Unit</th>
                  <th class="c5" scope="col" sortable="name" (sort)="onSort($event)">Volume</th>
                  <th class="c6" scope="col" sortable="name" (sort)="onSort($event)">Weight Unit</th>
                  <th class="c7" scope="col" sortable="name" (sort)="onSort($event)">Currency</th>
                </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of data.item">
                    <td class="r0">{{ p.DOC_NUMBER._text }}</td>
                    <td class="r1">{{ p.ITM_NUMBER._text }}</td>
                    <td class="r2">{{ p.SHORT_TEXT._text }}</td>
                    <td class="r3">{{ p.ITEM_CATEG._text }}</td>
                    <td class="r4">{{ p.T_BASE_UNIT._text }}</td>
                    <td class="r5">{{ p.VOLUME._text }}</td>
                    <td class="r6">{{ p.UNIT_OF_WT._text }}</td>
                    <td class="r7">{{ p.CURRENCY._text }}</td>                   
                  </tr>
              </tbody>
              </table> -->
             </div>
            </div>
          </div>
</div>