<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
        <div class="row">
          <div class="col-lg-8">
            <div class="card card-chart customerinq">
              <div class="card-header">
                <h4 class="card-title ctitle">Sales Order Details</h4><br>
              </div>
              <table class="table table-striped">
                <thead class="thead">
                <tr>
                  <th class="c0" scope="col">S.No.</th>
                  <th class="c1" scope="col" sortable="name" (sort)="onSort($event)">Fiscal Year</th>
                  <th class="c2" scope="col" sortable="name" (sort)="onSort($event)">Document No.</th>
                  <th class="c3" scope="col" sortable="name" (sort)="onSort($event)">Item No.</th>
                  <th class="c4" scope="col" sortable="name" (sort)="onSort($event)">Posting Date</th>
                  <th class="c5" scope="col" sortable="name" (sort)="onSort($event)">Fiscal Period</th>
                  <th class="c6" scope="col" sortable="name" (sort)="onSort($event)">Doc Amount</th>
                  <th class="c7" scope="col" sortable="name" (sort)="onSort($event)">Amount</th>
                  <th class="c8" scope="col" sortable="name" (sort)="onSort($event)">Baseline Date</th>
                </tr>
                </thead>
                <tbody *ngIf="data?.length != 0">
                  <tr *ngFor="let p of data">
                    <td class="r0">{{ p.FISC_YEAR._text }}</td>
                    <td class="r1">{{ p.DOC_NO._text }}</td>
                    <td class="r2">{{ p.ITEM_NUM._text }}</td>
                    <td class="r3">{{ p.PSTNG_DATE._text }}</td>
                    <td class="r4">{{ p.FIS_PERIOD._text }}</td>
                    <td class="r5">{{ p.AMT_DOCCUR._text }}</td>
                    <td class="r6">{{ p.AMOUNT._text }}</td>
                    <td class="r7">{{ p.BLINE_DATE._text }}</td>
                  </tr>
                </tbody>
              </table>
             </div>
            </div>
          </div>
</div>