@import url('https://fonts.googleapis.com/css2?family=Poppinswght@300;500;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2{
        font-family: 'Poppins', sans-serif;
        font-size: 5em;
        font-weight: 700;
        color: #ffffff;
    }
    h5{
        font-family: 'Poppins', sans-serif;
        font-size: 2em;
        font-weight: 500;
        color: #eeeeee;
    }
}


$outline-border-width: 2px;
$outline-border-color: rgb(255, 255, 255);
$sec-outline-border-color: #37b2b2;
$outline-button-padding: 16px 28px;
$outline-text-color: rgb(255, 255, 255);
$sec-outline-text-color: #37b2b2;
$outline-transition-time: 1.5s;
$outline-fade: 0.35s;
$outline-active-scale: 1.05;

.draw-outline {
  display: inline-block;
  padding: $outline-button-padding;
  border: $outline-border-width $outline-border-color solid;
  text-align: center;
  text-decoration: none;
  color: $outline-text-color;
  position: relative;
  transition: border-color 0.35s ease-in-out;
  z-index: 1;
  
  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 0px;
    height: 0px;
    box-sizing: content-box;
    z-index: -1;
    transition: transform 0.25s ease-in-out;
    padding-left: $outline-border-width;
  }
  
  &:before {
    top: -$outline-border-width;
    left: -$outline-border-width;
    border-top: $outline-border-width transparent solid;
    border-right: $outline-border-width transparent solid;
  }
  
  &:after {
    bottom: -$outline-border-width;
    right: -$outline-border-width;
    border-bottom: $outline-border-width transparent solid;
    border-left: $outline-border-width transparent solid;
  }
  
  &:hover {
    color: $sec-outline-text-color;
    transition: color $outline-fade ease-in-out,  border-color $outline-fade ease-in-out;
    border-color: $outline-border-color;
    animation: outline-reset $outline-fade 1  forwards;
    &:before {
      animation: top-right-border $outline-transition-time/2 1 $outline-fade forwards;
    }
    &:after {
      animation: bottom-left-border $outline-transition-time/2 1 ($outline-transition-time/2)+$outline-fade forwards;
    }
  } 
  &--tandem:hover {
    &:after {
      animation: bottom-left-border $outline-transition-time/2 1 $outline-fade forwards;
    }  
  }
  &:active {
    &:before,
    &:after {
      transform: scale($outline-active-scale);
    }
  }
}

@keyframes outline-reset {
  0% {
    border-color: $outline-border-color;
  }
  100% {
    border-color: transparent;
  }
}


@keyframes top-right-border {
  0% {
    border-color: $sec-outline-border-color;
    width: 0px;
    height: 0;
  }
  50% {
    width: 100%;
    height: 0;
  }
  100% {
    border-color: $sec-outline-border-color;
    width: 100%;
    height: 100%;
  }
}

@keyframes bottom-left-border {
  0% {
    border-color: $sec-outline-border-color;
    width: 0px;
    height: 0;
  }
  50% {
    width: 100%;
    height: 0;
  }
  100% {
    border-color: $sec-outline-border-color;
    width: 100%;
    height: 100%;
  }
}

$wrapper-max-width: 1000px;

body {
  font-family: sans-serif;
  max-width: $wrapper-max-width;
  margin: 0 auto;
  padding: 30px;
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
}

h1 {
  font-size: 2.8rem;
}
h2 {
  z-index: 99999;
  font-size: 2rem;
}
h1,h2 {
  font-family: 'Poppins', sans-serif;
	font-size: 5em;
	font-weight: 700;
	color: #ffffff;
}
.H5{
  z-index: 9999;
	font-family: 'Poppins', sans-serif;
	font-size: 2em;
	font-weight: 500;
	color: #ffffff;
}
p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

hr {
  margin: 40px auto;
  max-width: 100px;
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  padding: 0; 
}

.pen-intro {
  text-align: center;
}

.button-container {
  a {
    margin: 0 10px;
  }
}

#myVideo {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}