<div class="main">
<div class="loader" *ngIf ="loaderService.isLoading | async">
  <div class="loginDetails" *ngIf = "!success ;">
    <span class="logging1">{{status}}</span><br>
    <mat-progress-bar class="progressBar" mode="indeterminate"></mat-progress-bar>
  </div>
</div>

<div class="mainpage">
  <div class="boxitems">
    <div class="left">
      <img
        src="assets\images\cp.png"
        width="150"
        height="150"
        alt="Customer Portal Image ?"
      />
      <h1>Customer Portal</h1>
      <h3>Interactive portal for Customers</h3>
    </div>
    <div class="right">
      <h1>Login</h1>
      <form name="form" class="login100-form"
        [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="wrap-input100">
          <div class="form-group">
            <input class="input100" type="text" name="username" placeholder="Customer ID" formControlName="username"
              [ngClass]="{'is-invalid': form.get('username').touched && form.get('username').invalid}"/>

            <div *ngIf="form.get('username').touched && form.get('username').invalid" class="invalid-email">
              <div *ngIf="form.get('username').errors.required">Customer ID is required*</div>
              <!-- <div *ngIf="form.get('email').errors.email">Valid Email address is required. For example 'abc@xyz.com'</div> -->
            </div>
          </div>

          <div class="passwordfield">
            <div class="form-group">
                <input type="password" class="input100"  formControlName="password" placeholder="Password"
                [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />

                <div *ngIf="form.get('password').touched && form.get('password').invalid"  class="invalid-password">
                  <div *ngIf="form.get('password').errors.required">Password is required*</div>
                </div>
            </div>
          </div>

          <div class="container-login100-form-btn" >
            <button class="login100-form-btn">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>