@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');

.cardrow{
    width: 100%;
}

.cardcrad{
    width: 1600px;
    padding-left: 10px;
}
.spinner{
    margin: 0, auto;
    padding-top: 170px;
    padding-left: 0px;
}

.spinner ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: rgb(22, 189, 255);
    position: relative;
    top: 200px;
    right: 400px;
}
.btn{
   left: 250px;
}

.customerinq{
    width: 1600px;
    height: 700px;
}
.ctitle{
    padding-left: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgb(37, 37, 37)
}

table{
    padding-top: 70px;
    width: 100%;
}

thead{
    padding-left: 20px; 
    font-family: 'Poppins', sans-serif;
    font-size : 12px;
    font-weight: 800;
}
.thead{
    width: 100%;
}
thead tr{
    width: 1020px;
    /* background: rgb(0, 165, 216); */
    background: rgb(22, 189, 255);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;    
}
.c0{
    border-top-left-radius : 10px;
    padding-left : 30px;
}
.c1{
    padding-left: 40px;
}
.c2{
    padding-left: 120px;
}
.c3{
    padding-left: 120px;
}
.c4{
    padding-left: 70px;
}
.c5{
    padding-left: 70px;
}
.c6{
    padding-left: 80px;
}
.c7{
    padding-left: 80px;
}
.c8{
    border-top-right-radius : 10px;
    padding-left: 80px;
}
tbody{
    overflow: auto;
    height: 540px;
    padding-left: 20px;
}

.r0{
    padding-left: 50px;
}
.r1{
    padding-left: 55px;
}
.r2{
    padding-left: 75px;
}
.r3{
    padding-left: 50px;
}
.r4{
    padding-left: 70px; 
}
.r5{
    padding-left: 50px;
}
.r6{
    padding-left: 70px;
}
.r7{
    padding-left: 72px;
}
.r8{
    padding-left: 70px;
}

.tble-responsive{
    display: grid;
    height: 100px;
    grid-template-columns:repeat(9, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
}
.Title{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: orangered;
}
.Title1{
    font-family: Roboto,sans-serif;
    font-size: 18px;
    color: rgb(73, 73, 73);
}