@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500;600&display=swap');

.cardrow{
    width: 100%;
}

.cardcrad{
    width: 1600px;
    padding-left: 10px;
}

body{
    max-height: 100vh;
    overflow: hidden;
}