<div class="row">
  <div class="col justify-content-center align-middle icon">
    <mat-icon aria-hidden="false" aria-label='Default Icon'>{{defIcon}}</mat-icon>
  </div>
  <div class="col">
    <div class="row flex-center">
      <h5><div mat-dialog-title>Error</div></h5>
    </div>
    <div class="row content">
      <div mat-dialog-content><h3>{{errMsg}}</h3></div>
    </div>
  </div>
</div>

<div mat-dialog-actions class='closed'>
  <button (click)='onClick()' mat-raised-button class="btn">Close</button>
</div>
