<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
        <div class="row">
          <div class="col-lg-8">
            <div class="card card-chart customerinq">
              <div class="card-header">
                <h4 class="card-title ctitle">Sales Order Details</h4><br>
              </div>
              <table class="table table-striped">
                <thead class="thead">
                <tr>
                  <th class="c0" scope="col">S.No.</th>
                  <th class="c1" scope="col" sortable="name" (sort)="onSort($event)">Item No.</th>
                  <th class="c2" scope="col" sortable="name" (sort)="onSort($event)">Material Description</th>
                  <th class="c3" scope="col" sortable="name" (sort)="onSort($event)">Pruchase No.</th>
                  <th class="c4" scope="col" sortable="name" (sort)="onSort($event)">Net Value</th>
                  <th class="c5" scope="col" sortable="name" (sort)="onSort($event)">Net Price</th>
                  <th class="c6" scope="col" sortable="name" (sort)="onSort($event)">Name</th>
                  <th class="c7" scope="col" sortable="name" (sort)="onSort($event)">Date</th>
                  <th class="c8" scope="col" sortable="name" (sort)="onSort($event)">Status</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let country of countries">
                  <th class="Row r0">{{ country.id }}</th>
                  <td class="Row r1">{{ country.name }}</td>
                  <td class="Row r2">{{ country.area }}</td>
                  <td class="Row r3">{{ country.population }}</td>
                  <td class="Row r4">{{ country.population  }}</td>
                  <td class="Row r5">{{ country.population  }}</td>
                  <td class="Row r6">{{ country.population  }}</td>
                  <td class="Row r7">{{ country.population  }}</td>
                  <td class="Row r8">{{ country.population  }}</td>
                </tr>
                </tbody>
              </table>
             </div>
            </div>
          </div>
</div>