<div class="main">
  <!-- <video autoplay muted loop id="myVideo">
    <source src="assets/videos/vid.mp4" type="video/mp4">
  </video> -->
<div class="navigatorPage">
    <div class="navigatorLeft">
      <div class="lefticons">
        <div class="s1"></div>
        <div class="s2"></div>
        <div class="s3"></div>
        <div class="s4"></div>
      </div>
      <div class="headertext">
        <span class="t1"><h1>Kaar Technologies</h1></span>
        <span class="t2"
          ><h1>Portal<br />Assignment</h1></span
        >
        <span class="t3"><h3>Designed and Developed by Alfred Joel R</h3></span>
      </div>
    </div>
    <div class="navigatorRight">
      <div class="box">
        <div class="boxitems">
          <div class="customer" [routerLink]="['/customerlogin']">
            <img
              src="assets\images\cp.png"
              width="135"
              height="135"
              alt="Customer Portal Image ?"
            />
            <div class="ctext">
              <h3>
                Customer Portal
                <span class="arrow"
                  ><img src="assets\images\arrow.png" width="25" height="35"
                /></span>
              </h3>
              <h4>Interactive Portal for customers to use</h4>
            </div>
          </div>

          <div class="vendor" [routerLink]="['/vendorlogin']">
            <img
              src="assets\images\vp.png"
              width="145"
              height="145"
              alt="Customer Portal Image ?"
            />
            <span class="ctext">
              <h3>
                Vendor Portal
                <span class="arrow"
                  ><img src="assets\images\arrow.png" width="25" height="35"
                /></span>
              </h3>
              <h4>Interactive Portal for vendors to use</h4>
            </span>
          </div>

          <div class="employee" [routerLink]="['/employeelogin']">
            <img
              src="assets\images\ep.png"
              width="135"
              height="135"
              alt="Customer Portal Image ?"
            />
            <span class="ctext">
              <h3>
                Employee Portal
                <span class="arrow"><img src="assets\images\arrow.png" width="25" height="35" /></span>
              </h3>
              <h4>Interactive Portal for employee to use</h4>
            </span>
          </div>
          <div class="about" [routerLink]="['/about']">
            <a href="#" routerLink="/about"></a>
            <img
              src="assets\images\ab.png"
              width="120"
              height="120"
              alt="Customer Portal Image ?"
            />
            <h3>
              About the Developer
              <span class="arrow"
                ><img src="assets\images\arrow.png" width="25" height="35"
              /></span>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
