<div class="panel-header">
  <div class="header text-center">
    <h2 class="title">SAP iRPA</h2>
    <p class="category">Intelligent Robotic Process Automation</p>
  </div>
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title ctitle">*This video is a demonstration of SAP iRPA Automation.</h4>
        </div>
        <div class="card-body">
          <video width="1200" height="600" controls>
            <source src="assets/videos/irpa.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
                <h4 class="card-title ct">Master Data
                  <p class="category">Upload your .xlxs or .csv file</p>
                  <input class="upload" type="file" (change)="getFilename($event)" />
                </h4>
                <div class="fileUpload">
                <div class="btn-2" (click)='upload()'>
                  <button class="button1">Upload</button>
                </div>
              </div>
              <div *ngIf = "cust?.length != 0" class="col text-center">
                <h6>Record Created</h6>
                <div *ngFor = "let i of cust" class='card-header pb-1' style="background: rgb(77, 190, 255); color: #fff">
                  <h6><b><i>{{+i}}</i></b></h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-8 ml-auto mr-auto">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="places-buttons">
            <div class="row">
              <a href="assets/docs/temp-162054466931556825.pdf"  target="_blank">Sales Order Prediction</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
