<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-lg-8">
      <div class="card card-chart customerinq">
        <div class="card-header">
          <h4 class="card-title ctitle">Leave Details</h4><br>
        </div>
        <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th class="c0" scope="col" sortable="name" (sort)="onSort($event)">Employee No.</th>
              <th class="c1" scope="col" sortable="name" (sort)="onSort($event)">Subtype</th>
              <th class="c2" scope="col" sortable="name" (sort)="onSort($event)">Start Date</th>
              <th class="c3" scope="col" sortable="name" (sort)="onSort($event)">End Date</th>
              <th class="c4" scope="col" sortable="name" (sort)="onSort($event)">Days</th>
              <th class="c5" scope="col" sortable="name" (sort)="onSort($event)">Hours</th>
              <th class="c6" scope="col" sortable="name" (sort)="onSort($event)">Description</th>
              <th class="c9"></th>
            </tr>
          </thead>
        <tbody>
          <div *ngIf="!spin1" class="spinner"><mat-spinner style="margin:0 auto;"></mat-spinner></div>
            <tr *ngFor="let p of header">
              <td class="r0">{{ p.EMPLOYEENO._text }}</td>
              <td class="r1">{{ p.SUBTYPE._text }}</td>
              <td class="r2">{{ p.VALIDBEGIN._text }}</td>
              <td class="r3">{{ p.VALIDEND._text }}</td>
              <td class="r4">{{ p.ABSENCEDAYS._text }}</td>
              <td class="r5">{{ p.ABSENCEHOURS._text }}</td>
              <td class="r6">{{ p.NAMEOFABSENCETYPE._text }}</td>
              <td class="r8"></td>
            </tr>
          </tbody>
        </table>
        <table class="table table-hover">
          <thead class="thead">
            <tr>
              <th class="c0" scope="col" sortable="name" (sort)="onSort($event)">Leave Type</th>
              <th class="c1" scope="col" sortable="name" (sort)="onSort($event)">Description</th>
              <th class="c2" scope="col" sortable="name" (sort)="onSort($event)">Start Date</th>
              <th class="c3" scope="col" sortable="name" (sort)="onSort($event)">End Date</th>
              <th class="c4" scope="col" sortable="name" (sort)="onSort($event)">Days</th>
              <th class="c9"></th>
            </tr>
          </thead>
        <tbody>
          <div *ngIf="!spin2" class="spinner"><mat-spinner style="margin:0 auto;"></mat-spinner></div>
            <tr *ngFor="let p of header">
              <td class="r0">{{ p.LEAVETYPE._text }}</td>
              <td class="r1">{{ p.QUOTATEXT._text }}</td>
              <td class="r2">{{ p.QUOTABEG._text }}</td>
              <td class="r3">{{ p.QUOTAEND._text }}</td>
              <td class="r4">{{ p.TIME_UNIT._text }}</td>
              <td class="r8"></td>
            </tr>
          </tbody>
        </table>
      </div>           
    </div>
  </div>
</div>